(docs) {
	request_body {
		max_size 100MB
	}

	handle /collaboration/ws/* {
		reverse_proxy docs-yprovider:4444
	}

	handle /collaboration/api/* {
		reverse_proxy docs-yprovider:4444
	}

	handle /media/* {
		forward_auth docs-backend:8000 {
			uri /api/v1.0/documents/media-auth/
			copy_headers Authorization X-Amz-Date X-Amz-Content-SHA256
		}
		rewrite * /docs-storage{uri}
		reverse_proxy rustfs:9000 {
			header_up Host rustfs:9000
		}
	}

	handle /api/* {
		reverse_proxy docs-backend:8000
	}
	handle /admin/* {
		reverse_proxy docs-backend:8000
	}
	handle /static/* {
		reverse_proxy docs-backend:8000
	}

	handle {
		reverse_proxy docs-frontend:8080
	}
}
