(meet) {
	request_body {
		max_size 100MB
	}

	handle /api/* {
		reverse_proxy meet-backend:8000
	}
	handle /admin/* {
		reverse_proxy meet-backend:8000
	}
	handle /static/* {
		reverse_proxy meet-backend:8000
	}

	handle {
		reverse_proxy meet-frontend:8080
	}
}
